.p1{
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
}
input{
	display: block;
	border: none;
	font-size: 16px;
	background-color: rgb(225, 225, 225);
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 300px;
}
.requestButton{
	background-color: black;
	color: white;
	border: none;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;

}
.ScheduleButton{
	background-color: rgb(225, 225, 225);
	border: none;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}