p{
	font-family: Arial;
}
.title{
	font-weight: bold;
	font-size: 25px;
	color: white;
	margin-top: 0;
	margin-bottom: 10px;
}
.description{
	color: gray;
	margin-top: 0;
	margin-bottom: 0px;
}
.div1{
	background-color: rgb(39, 38, 38);
	width:  360px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:15px;
	padding-bottom: 15px;
}